<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../abas-styles/abas-styles.html">
<link rel="import" href="../abas-widget-style/abas-widget-style.html">
<link rel="import" href="../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../aba-js-imports/lodash-import.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../iron-meta/iron-meta.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../abas-erp-command-builder/abas-erp-command-builder.html">
<link rel="import" href="../abas-widget-behavior/abas-widget-behavior.html">

<dom-module id="abas-quickmenu-widget-settings">
	<template>
		<abas-config-meta data="{{_configuration}}"></abas-config-meta>
		<style>
			:host {
				display: block;
				background: var(--abas-black-800);
			}

			.hide {
				display: none;
			}

			abas-icon {
				color: #1bbaa4;
			}

			paper-button {
				border: 1px solid #1bbba3;
				margin-top: 10px;
			}

			paper-button:hover {
				background-color: #e9f2f5;
			}

			abas-function-button {
				padding: 8px;
			}

			table.dataTable {
				width: 100%;
				border-collapse: collapse;
			}

			table.dataTable thead tr th {
				position: sticky;
				top: -8px;
				background: white;
				color: #777d81;
				font-size: 10px;
				white-space: nowrap;
				font-weight: normal;
				text-decoration: underline;
				padding: 2px 4px 2px;
			}

			table.dataTable tbody tr td {
				border-width: 0px 0 0px 0;
				border-style: solid;
				border-color: #cccccc;
				font-size: 12px;
				font-weight: normal;
				color: #2a3539;
				white-space: nowrap;
				vertical-align: middle;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 100px;
				border-right-width: 1px;
				padding: 1px 4px;
			}

			table.dataTable tbody tr td:first-child {
				border-left-width: 1px;
			}

			table.dataTable tbody tr:last-of-type td {
				border-bottom-width: 1px;
			}

			table.dataTable tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.dataTable tbody tr:nth-child(even) td {
				background: #f0f4f7;
			}

			table.dataTable tbody tr:nth-child(odd) td {
				background: #ffffff;
			}

			table.dataTable tbody tr:hover td {
				background: #e4f5f2;
			}

			.settingsTableIcon {
				display: flex;
				align-items: center;
				--iron-icon-height: 30px;
				--iron-icon-width: 30px;
			}

			.iconSelectorGrid {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
			}

			.iconSelectorGrid .selectorTile {
				width: 100px;
				height: 100px;
				margin: 1px;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
			}

			.iconSelectorGrid .selectorTile .label {
				font-size: x-small;
				color: var(--abas-black-500);
			}

			.iconSelectorGrid .selectorTile:hover {
				cursor: pointer;
			}

			.iconSelectorGrid .selectorTile iron-icon {
				color: var(--abas-black-500);
				width: 64px;
				height: 64px;
			}

			.iconSelectorGrid .selectorTile:hover iron-icon {
				color: var(--abas-black-100);
			}

			.iconSelectorGrid .selectorTile:hover .label {
				text-decoration: underline;
			}

			.flex-container-vertical {
				display: flex;
				flex-direction: column;
				margin: 0 -16px;
			}

			.flex-container-horizontal {
				display: flex;
				flex-direction: row;
				margin: 0 -16px;
			}

			.flex-wrap {
				flex-wrap: wrap;
			}

			.flex-item {
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: auto;
				margin: 0 16px;
			}

			.addButton {
				width: fit-content;
			}
			#colorPicker {
				background-color: transparent;
			}
			.colorPicker {
				display: flex;
				align-items: center;
			} 
		</style>

		<div slot="general">
			<div class="flex-container-horizontal flex-wrap">
				<div class="flex-item flex-container-vertical">
					<h3>[[localize('settings.general')]]</h3>
					<ui-text-field label="[[localize('settings.title')]]" text="{{widgetTitle}}"></ui-text-field>
					<ui-companyselector selected-company="{{company}}"></ui-companyselector>
				</div>
				<div class="flex-item flex-container-vertical">
					<h3>[[localize('settings.subscriptions')]] </h3>
					<ui-db-subscriptions databases="[[_databaseList]]" subscriptions="{{subscriptions}}">
					</ui-db-subscriptions>
				</div>
			</div>

			<h3>[[localize('settings.tiles')]] </h3>
			<div id="settings_page_table">
				<div class="addButton">
					<abas-function-button on-tap="_addTile">[[localize('addMenuEntry')]]</abas-function-button>
				</div>

				<!-- Table -->
				<table class="dataTable">
					<thead>
						<tr>
							<th scope="col" style="width: 20px"></th>
							<th scope="col">[[localize('clickaction')]]</th>
							<th scope="col">[[localize('label')]]</th>
							<th scope="col" style="width: 60px">[[localize('icon')]]</th>
							<th scope="col" style="width: 125px">[[localize('color')]]</th>
							<th scope="col" style="width: 35px"></th>
						</tr>
					</thead>
					<tbody>
						<template is="dom-repeat" items="[[_tiles]]" as="item">
							<tr>
								<td>
									<div style="float: right;">
										<template is="dom-if" if="{{_indexIsNotEqual(index, _tilesLastIndex)}}">
											<abas-icon icon="caretDown" on-tap="_onTapRowDown" />
										</template>
									</div>
									<div style="float: left;">
										<template is="dom-if" if="{{_indexIsNotEqual(index, 0)}}">
											<abas-icon icon="caretUp" on-tap="_onTapRowUp" />
										</template>
									</div>
								</td>
								<td>
									<div style="padding-top: 8px; padding-bottom: 8px;">
										<ui-clickaction company="[[company]]" click-action="{{item.clickAction}}"
											without-object subscriptions="[[subscriptions]]"
											style="background-color: transparent;">
										</ui-clickaction>
									</div>
								</td>
								<td>
									<ui-text-field label="" text="{{item.label}}"></ui-text-field>
								</td>
								<td>
									<template is="dom-if" if="[[item.icon]]">
										<div class="settingsTableIcon">
											<iron-icon icon="[[item.icon]]"></iron-icon>
											<abas-icon icon="pencilAlt" on-tap="_startIconSelection"></abas-icon>&nbsp;
											<abas-icon icon="times" on-tap="_removeIcon"></abas-icon>
										</div>
									</template>
									<template is="dom-if" if="[[!item.icon]]">
										<abas-icon icon="plus" on-tap="_startIconSelection"></abas-icon>
									</template>
								</td>
								<td>
									<div class="colorPicker">
										<ui-color-picker id="colorPicker" color="{{item.bgColor}}"></ui-color-picker>
										[[item.bgColor]]
									</div>
								</td>
								<td>
									<abas-function-button icon="trashAlt" on-tap="_onTapRowDelete">
									</abas-function-button>
								</td>
							</tr>
						</template>
					</tbody>
				</table>
			</div>

			<div id="settings_page_icons" class="hide">
				<iron-meta id="iconsetLoader" type="iconset"></iron-meta>
				<h2>[[localize('selectIconDialogTitle')]]</h2>
				<paper-button on-tap="_closeIconSelection">
					<iron-icon icon="arrow-back"></iron-icon>
					[[localize('backToTableButton')]]
				</paper-button>
				<div class="iconSelectorGrid">
					<template is="dom-repeat" items="[[_iconSet]]" as="icon">
						<div class="selectorTile" on-tap="_iconSelected">
							<iron-icon icon="[[icon]]"></iron-icon>
							<span class="label">[[_cutOffPrefix(icon, 'abas:')]]</span>
						</div>
					</template>
				</div>
			</div>
		</div>
	</template>

	<script>
		/**
		 * @customElement
		 * @polymer
		 */
		class AbasQuickMenuSettings extends Polymer.AbasLocalizeMixin(ABAS.AttributesBehavior(Polymer.Element)) {
			constructor() {
				super();
				this.loadResources(this.resolveUrl(this.importPath + "locales.json"));
				this.subscriptions = [];
				this.tiles = [];
				this._boundApplySettings = this._applySettings.bind(this);
				this._boundRevertSettings = this._revertSettings.bind(this);
			}
			static get is() { return "abas-quickmenu-widget-settings"; }
			static get properties() {
				return {
					company: {
						type: Object,
						notify: true
					},
					widgetTitle: {
						type: String,
						notify: true
					},
					subscriptions: {
						type: Array,
						notify: true
					},
					tiles: {
						type: Array,
						notify: true,
					},
					_tiles: {
						type: Array,
						observer: "_updateTilesLastIndex"
					},
					_tilesLastIndex: {
						type: Number,
						value: 0
					},
					_iconSet: {}
				};
			}

			static get observers() {
				return [
					"_initUIData(_configuration, company)"
				];
			}

			connectedCallback() {
				super.connectedCallback();
				//needs to be done after tiles has been set from parent
				this.set("_tiles", JSON.parse(JSON.stringify(this.tiles)));
				window.addEventListener("settings-apply", this._boundApplySettings);
				window.addEventListener("settings-closed", this._boundRevertSettings);
			}

			disconnectedCallback() {
				super.disconnectedCallback();
				window.removeEventListener("settings-apply", this._boundApplySettings);
				window.removeEventListener("settings-closed", this._boundRevertSettings);
			}

			_initUIData(_configuration, company) {
				if (!_configuration || !company) return;

				abasWidgets.API.fetchDatabases({
					erpBaseUrl: _.get(_configuration, "api.erpBaseURL"),
					companyHref: company.href
				}).then((dbList) => {
					this.set("_databaseList", dbList);
				}).catch((error) => {
					console.log("Fetching Databases failed");
					console.log(error);
				})
			}

			_indexIsNotEqual(a, b) {
				return a != b;
			}

			_updateTilesLastIndex() {
				this.set("_tilesLastIndex", this._tiles.length - 1);
			}

			_onTapRowDown(event) {
				let index = event.model.__data.index;
				let tiles = this._tiles.slice(0);
				let tmp = tiles.splice(index, 1)[0];
				tiles.splice(index + 1, 0, tmp);
				this.set("_tiles", JSON.parse(JSON.stringify(tiles)));
			}

			_onTapRowUp(event) {
				let index = event.model.__data.index;
				if (index == 0) return;
				let tiles = this._tiles.slice(0);
				let tmp = tiles.splice(index, 1)[0];
				tiles.splice(index - 1, 0, tmp);
				this.set("_tiles", JSON.parse(JSON.stringify(tiles)));
			}

			_onTapRowDelete(event) {
				this.splice("_tiles", event.model.__data.index, 1);
				this._updateTilesLastIndex();
			}

			get newDefaultButton() {
				return {
					label: "Menu Entry " + (this._tiles ? this._tiles.length : 1),
					bgColor: "#000000",
					clickAction: {},
					width: 1,
					height: 1,
					id: "tile" + parseInt(Math.random() * 1000000)
				};
			}

			_addTile() {
				this.push("_tiles", this.newDefaultButton);
				this._updateTilesLastIndex();
			}

			_removeIcon(event) {
				const index = event.model.index;
				if (index !== undefined) {
					this.set(`_tiles.${index}.icon`, "");
				}
			}

			// Stuff for icon selection dialog
			_prepareIconSelectionGrid() {
				this.set("_iconSet", this.$.iconsetLoader.byKey("abas").getIconNames());
			}

			_startIconSelection(event) {
				this._actualTileIndex = event.model.index;
				this.set("_iconSet", this.$.iconsetLoader.byKey("abas").getIconNames());
				this.$.settings_page_table.classList.add("hide");
				this.$.settings_page_icons.classList.remove("hide");
			}

			_closeIconSelection() {
				this.$.settings_page_icons.classList.add("hide");
				this.$.settings_page_table.classList.remove("hide");
			}

			_cutOffPrefix(text, prefix) {
				return text.replace(prefix, "");
			}

			_iconSelected(event) {
				const index = this._actualTileIndex;
				if (index !== undefined) {
					this.set(`_tiles.${index}.icon`, event.model.icon);
				}
				this._closeIconSelection();
				this._actualTileIndex = undefined;
			}

			_applySettings() {
				this.set("tiles", JSON.parse(JSON.stringify(this._tiles)));
				this.fireAttributesUpdate([{
					name: "company",
					value: this.company
				}, {
					name: "widgetTitle",
					value: this.widgetTitle
				}, {
					name: "subscriptions",
					value: this.subscriptions
				}, {
					name: "tiles",
					value: this.tiles
				}]);
			}

			_revertSettings() {
				this.set("_tiles", JSON.parse(JSON.stringify(this.tiles)));
			}
		}
		customElements.define(AbasQuickMenuSettings.is, AbasQuickMenuSettings);
	</script>
</dom-module>