<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../aba-widget/aba-widget.html">
<link rel="import" href="../abas-widget-behavior/abas-widget-behavior.html">
<link rel="import" href="../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../abas-styles/abas-styles.html">
<link rel="import" href="../abas-widget-style/abas-widget-style.html">
<link rel="import" href="../paper-ripple/paper-ripple.html">
<link rel="import" href="abas-quickmenu-widget-settings.html">
<link rel="import" href="../abas-icons/abas-icons.html">
<link rel="import" href="../iron-icon/iron-icon.html">

<dom-module id="abas-quickmenu-widget">
	<template>
		<style include="abas-widget-style">
			:host {
				display: block;
				background: var(--abas-black-800);
			}

			.hidden {
				display: none;
			}

			[slot="content"] {
				cursor: auto;
				padding: 1px;
				height: calc(100% - 4px);
			}

			a {
				text-decoration: none;
			}

			.gridWrapper {
				display: block;
				overflow: auto;
			}

			.grid {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				width: 100%;
				overflow: auto;
				align-content: flex-start;
			}

			.grid-mobile {
				display: grid;
				grid-template-columns: 100%;
				overflow: auto;
				width: 100%;
			}

			.tileLabel {
				grid-row: 1;
				grid-column: 2;
				color: white;
				margin: 0 auto;
				@apply --abas-font-subhead;
				width: 90%;
				text-align: center;
				@apply --abas-font-display1;
				font-size: 14px;
				position: absolute;
				line-height: unset;
				padding-bottom: 10px;
				bottom: 0;
			}

			.tile {
				position: relative;
				flex-basis: auto;
				flex-grow: 0;
				width: 128px;
				height: 128px;
				@apply --shadow-elevation-3dp;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				cursor: pointer;
				box-shadow: unset;
				border-bottom: solid 1px white;
				border-right: solid 1px white;
				background: var(--widget-top-border-color, var(--accent-color, lightgray));
			}

			.tile-mobile {
				display: grid;
				grid-template-rows: 100%;
				grid-template-columns: 25% 70%;
				grid-gap: 10px;
				position: relative;
				padding: 0px 10px 0px 10px;
				width: calc(100%-16px);
				height: 64px;
				cursor: pointer;
				box-shadow: unset;
				border-bottom: solid 1px white;
				background: var(--widget-top-border-color, var(--accent-color, lightgray));
			}

			.tile-icon-only {
				display: grid;
				grid-template-rows: 100%;
				grid-template-columns: 100% 0%;
				grid-gap: 10px;
				position: relative;
				padding: 0px 12px 0px 12px;
				height: 64px;
				cursor: pointer;
				box-shadow: unset;
				border-bottom: solid 1px white;
				background: var(--widget-top-border-color, var(--accent-color, lightgray));
			}

			.tile-draggable-true {
				cursor: move;
			}

			.normalIcon {
				grid-column: 1;
				grid-row: 1;
				--iron-icon-height: 40%;
				--iron-icon-width: 40%;
				--iron-icon-fill-color: white;
				margin-bottom: 25px;
				pointer-events: none;
			}

			.bigIcon {
				grid-column: 1;
				grid-row: 1;
				align-self: center;
				--iron-icon-height: 100%;
				--iron-icon-width: 100%;
				--iron-icon-fill-color: white;
				pointer-events: none;
				margin: 0px;
			}


			.tile-mobile>.normalIcon {
				--iron-icon-width: 100%;
				display: contents;
			}

			.tile-mobile>.tileLabel {
				align-self: center;
				text-align: unset;
				line-height: unset;
				position: unset;
			}

			.widgetTitle {
				padding: 8px;
			}
		</style>
		<aba-widget title="">
			<div slot="content">
				<!-- Title -->
				<template is="dom-if" if="[[widgetTitle]]">
					<div class="widgetTitle">
						<abas-inplace-header>[[widgetTitle]]</abas-inplace-header>
					</div>
				</template>
				<!-- Menu entries -->
				<div class="gridWrapper">
					<div id="grid" class$="[[gridClass]]">
						<template is="dom-repeat" items="[[tiles]]" as="tile">
							<a id$="[[tile.id]]" href="[[_getLink(tile)]]" target="[[_getTarget(tile)]]"
								on-tap="openLink" class$="[[tileClass]]" style$="[[_getBackgroundColor(tile)]]"
								title="[[tile.label]]">
								<iron-icon icon="[[tile.icon]]" class="normalIcon"></iron-icon>
								<div class="tileLabel">[[tile.label]]</div>
								<paper-ripple></paper-ripple>
							</a>
						</template>
					</div>
				</div>
			</div>

			<abas-quickmenu-widget-settings slot="settingsForm" id="[[id]]" company="{{company}}"
				widget-title="{{widgetTitle}}" subscriptions="{{subscriptions}}" tiles="{{tiles}}"
				grid-cold="{{_gridCols}}">
			</abas-quickmenu-widget-settings>
		</aba-widget>
	</template>

	<script>
		/**
		 * @customElement
		 * @polymer
		 */
		class AbasQuickMenu extends abasWidgets.CompanyBehavior(ABAS.WidgetBehavior(Polymer.Element)) {
			constructor() {
				super();
				this._boundResizeGrid = this._resizeGrid.bind(this);
				this.widgetTitle = "Quick Menu";
				this.subscriptions = [];
				this.messageChannel = "default";
				this._message = {};
				this._context = {};
				this.tileClass = "tile";
				this.gridClass = "grid";
			}
			static get is() { return "abas-quickmenu-widget"; }
			static get properties() {
				return {
					_userInfo: { type: Object },
					widgetTitle: { type: String },
					subscriptions: { type: Array },
					messageChannel: { type: String },
					_message: { type: Object },
					_context: { type: Object },
					tiles: { type: Array },
					_iconClass: { type: String },
					tileClass: { type: String },
					gridClass: { type: String }
				};
			}

			connectedCallback() {
				super.connectedCallback();
				//load translation
				this.loadResources(this.resolveUrl(this.importPath + "locales.json"));
				// resize
				this._resizeGrid();
				window.addEventListener("resize", this._boundResizeGrid);
				this._cleanUp(this.tiles);
			}

			disconnectedCallback() {
				super.disconnectedCallback();
				window.removeEventListener("resize", this._boundResizeGrid);
			}

			static get observers() {
				return [
					"_subscribe(subscriptions.*, messageChannel)"
				];
			}

			_cleanUp(tiles) {
				if (_.isEmpty(tiles)) return;
				tiles.forEach((tile) => {
					delete tile.objectToPublish;
					delete tile.erpCommand;
					delete tile.erpCommandSettings;
					if (tile.clickAction.value) delete tile.clickAction.value.widgets;
				});
				this.set("tiles", tiles);
			}

			_subscribe(subscriptions, messageChannel) {
				/*
					path. Path to the property that changed. Use this to determine whether a property changed, a sub-property changed, or an array was mutated.
					value. New value of the path that changed.
					base. The object matching the non-wildcard portion of the path.
				*/
				if (!messageChannel) {
					this.unsubscribeTopics();
					return;
				}
				this.unsubscribeTopics();
				if (!_.isEmpty(subscriptions.base)) {
					// subscribe to defined subscriptions
					subscriptions.base.forEach((reference) => {
						this.subscribeTopics({
							channel: messageChannel,
							topics: reference.topics,
							handler: (data, envelope) => {
								// return if it's my own message
								if (_.get(envelope, "headers.sender", "") === this.id) return;
								// one field ==> one value
								let value = data.id || data.sn || "";
								// set _message object
								let _message = Object.assign({}, this._message);
								_message[reference.name] = value;
								this.set("_message", _message);
								// save all contexts
								let _context = Object.assign({}, this._context);
								_context[envelope.topic] = value;
								this.set("_context", _context);
								// console.log("_context",_context);
							}
						})
					})
				}
				// subscribe to "clickaction"
				this.subscribeTopics({
					channel: messageChannel,
					topics: "clickaction",
					handler: (data, envelope) => {
						// return if it's my own message
						if (_.get(envelope, "headers.sender", "") === this.id) return;
						let _message = Object.assign({}, this._message);
						for (const [key, value] of Object.entries(data)) {
							_message[key] = value;
						}
						this.set("_message", _message);
					}
				});
			}

			_getBackgroundColor(tile) {
				return "background-color: " + tile.bgColor;
			}

			_getLink(tile) {
				let resultingURL = "javascript:;";

				if (!tile.clickAction || !tile.clickAction.type || !tile.clickAction.value) {
					return resultingURL;
				}

				let action = tile.clickAction;
				switch (action.type) {
					case "dashboard":
						let newId = action.value.id;
						if (newId) {
							let url = new URL(window.location.href)
							url.searchParams.delete("id");
							url.searchParams.append("id", newId);
							resultingURL = url.href;
						}
						break;
					case "erp":
						try {
							let erpCommand = this._getErpCommand(action.value);
							let link = abasWidgets.API.generateLinkToErpByCommand({ company: this.company, erpCommand: erpCommand });
							resultingURL = link;
						} catch (erpCmdError) {
							alert(erpCmdError.message);
						}
						break;
					case "link":
						resultingURL = action.value;
						break;
					default:
						break;
				}
				return resultingURL;
			}

			_getTarget(tile) {
				if (!tile.clickAction || !tile.clickAction.type) return;

				switch (tile.clickAction.type) {
					case "update":
					case "dashboard":
						return "_self";
						break;
					default:
						return "_blank";
				}
			}

			openLink(event) {
				let tile = _.get(event, "model.__data.tile");
				if (tile) {
					this._executeClickAction(tile);
				}
			}

			// click listener
			_executeClickAction(tile) {
				if (this.editMode) return "do nothing in edit-mode";
				if (!tile.clickAction || !tile.clickAction.type || !tile.clickAction.value) return "no action";
				let action = tile.clickAction;
				let result;
				switch (action.type) {
					case "update":
						let values = {};
						for (let i = 0; i < action.value.length; i++) {
							values[action.value[i].name] = action.value[i].value;
						}
						if (!_.isEmpty(values)) {
							let message = {
								topic: "clickaction",
								channel: this.messageChannel,
								data: values
							}
							this.publishTopic(message);
							result = "msg was send";
							break;
						}
						result = "fail no msg";
						break;
					case "dashboard":
						let newId = action.value.id;
						if (newId) {
							let url = new URL(window.location.href)
							let topUrl = new URL(window.top.location.href)
							if (topUrl && (topUrl.href !== url.href)) {
								topUrl.searchParams.delete("dashboardId");
								topUrl.searchParams.append("dashboardId", newId)
								window.top.history.replaceState({}, "dashboard changed", topUrl)
							}
							url.searchParams.delete("id");
							url.searchParams.append("id", newId);

							let urlToOpen = this._addContextToURL(url);
							window.open(urlToOpen.href, "_self");
							result = "dashboard opend";
							break;
						}
						result = "no dashboard id";
						break;
					case "erp":
						try {
							let erpCommand = this._getErpCommand(action.value);
							let link = abasWidgets.API.generateLinkToErpByCommand({ company: this.company, erpCommand: erpCommand });
							const urlParams = new URLSearchParams(window.location.search);
							const isNativeUI = (urlParams.get("linkto") === "native");
							if (isNativeUI) {
								location.href = link;
							} else {
								window.open(link, "_blank");
							}
						} catch (erpCmdError) {
							alert(erpCmdError.message);
						}
						result = "erp cmd done";
						break;
					case "link":
						window.open(action.value, "_blank");
						result = "link done";
						break;
				}
				return result;
			}

			_addContextToURL(url) {
				if (_.isEmpty(url.href) || _.isEmpty(this._context)) {
					return url;
				}

				// console.log("contexts", contexts);
				// console.log(this._context);

				let newContextParams = {};
				url.searchParams.getAll("context").forEach((contextParam) => {
					if (contextParam.includes(";")) {
						let splitted = contextParam.split(";");
						let topic = _.get(splitted, "[0]", "").trim();
						let value = _.get(splitted, "[1]", "").trim();
						newContextParams[topic] = value;
					} else {
						let splitted = this._splitAbasId(contextParam);
						if (splitted) {
							let { itemId, database, version, topic, __group } = splitted;
							newContextParams[topic] = `(${itemId},${database},${version})`;
						} else {
							throw new Error("could not tranform URL");
						}
					}
				})
				// overwrite by the ones you got from this._context
				// if not empty
				for (let topic in this._context) {
					if (!_.isEmpty(this._context[topic])) {
						newContextParams[topic] = this._context[topic];
					}
				}

				// delete old context params
				url.searchParams.delete("context");
				// generate url.SearchParams
				for (let topic in newContextParams) {
					let value = newContextParams[topic];
					url.searchParams.append("context", topic + ";" + value);
				}
				return url;
			}

			_splitAbasId(abasId) {
				let matchResult = abasId.match(/^\((\d+),(\d+):(\d+)\.(\d+),(\d+)\)$/);
				return matchResult ? {
					itemId: matchResult[1],
					topic: `${matchResult[2]}:${matchResult[3]}`,
					version: matchResult[5],
					database: matchResult[2],
					group: matchResult[3],
					objectGroup: matchResult[4]
				} : null;
			}

			_getErpCommand(input) {
				let erpCommand = input || "";
				// mandtory fields
				let mandatoryFields = [];
				if (_.includes(erpCommand, "{!message.")) {
					// get mandatory fields
					let regex = new RegExp("{!message\.\([a-z][a-zA-Z0-9]+\)}", "g");
					erpCommand.replace(regex, function (match, fieldname, g2) {
						mandatoryFields.push(fieldname);
					})
					// delete mandatory attribute for template
					erpCommand = _.replace(erpCommand, /{!message./g, "{message.");
				}
				// only execute query if all mandatory fields are given
				if (!_.isEmpty(mandatoryFields)) {
					for (let i = 0; i < mandatoryFields.length; i++) {
						let fieldName = mandatoryFields[i];
						if (!this._message || !this._message[fieldName]) {
							throw new Error("ERP command won't be executed. Field '" + fieldName + "' is mandatory.");
						}
					}
				}
				erpCommand = _.template(erpCommand)({ message: this._message });
				return erpCommand;
			}

			/**
			 * Resize the menu for responsiveness
			 * keep the square shape of the tiles
			 * dont make them too big or too small
			 * */

			async _resizeGrid() {
				let width = this.contentWidth;
				let labelElements = this.shadowRoot.querySelectorAll(".tileLabel");
				let iconElements = this.shadowRoot.querySelectorAll(".normalIcon");
				if (width < 110) {
					this.gridClass = "grid-mobile";
					this.tileClass = "tile-icon-only";
					this.addCss(labelElements, "hidden");
					this.addCss(iconElements, "bigIcon");
				} else if (width < 258) {
					this.gridClass = "grid-mobile";
					this.tileClass = "tile-mobile";
					this.removeCss(labelElements, "hidden");
					this.removeCss(iconElements, "bigIcon");
				} else {
					this.gridClass = "grid";
					this.tileClass = "tile";
					this.removeCss(labelElements, "hidden");
					this.removeCss(iconElements, "bigIcon");
				}
			}

			async addCss(elements, classname) {
				elements.forEach((elem) => {
					elem.classList.add(classname);
				})
			}

			async removeCss(elements, classname) {
				elements.forEach((elem) => {
					elem.classList.remove(classname);
				})
			}
		}
		customElements.define(AbasQuickMenu.is, AbasQuickMenu);
	</script>
</dom-module>